<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.1693E811-493C-43EF-BECE-F066CA507593</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.1693E811-493C-43EF-BECE-F066CA507593</string>
</dict>
</plist>
