<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>codes.joe.focus</string>
	<key>connections</key>
	<dict>
		<key>157EDF86-9267-4FB9-A35D-3A60DE202EB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD5AF4EC-5D23-4037-A8C2-4343A0B984A1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42ECE826-E338-4C36-9F21-FF56EE3AFED3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C64B160D-70CD-414C-A32E-AD0D7C8926A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CCFD934-6E4E-4A63-AEDC-6367427958B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56EF1C5C-7A95-403C-B7FB-C0A4FA34289D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E3B4E93-3807-4372-868C-BD3F6BFCA6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6ED92DD3-BEA5-4831-AC6D-B654ABF03493</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70C672AE-8FB2-4115-B98A-7B634F936D6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42ECE826-E338-4C36-9F21-FF56EE3AFED3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A167A2E0-F748-49AA-8FFE-7D02985AF937</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1C6BFB-20B9-4BD2-8301-24A87FF42278</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC1C6BFB-20B9-4BD2-8301-24A87FF42278</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A56CC32-0162-4A0E-8BAC-89E63B155B90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C64B160D-70CD-414C-A32E-AD0D7C8926A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30D16E65-0B1C-4CC2-8350-A34C25523C71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD5AF4EC-5D23-4037-A8C2-4343A0B984A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CCFD934-6E4E-4A63-AEDC-6367427958B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8463AC3-CE7D-42AF-A942-56448C425414</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E3B4E93-3807-4372-868C-BD3F6BFCA6C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joe Tannenbaum</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Focus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{var:toAdd} added!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>30D16E65-0B1C-4CC2-8350-A34C25523C71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>$query = "{query}";

require 'focus-add.php';</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C64B160D-70CD-414C-A32E-AD0D7C8926A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>focusadd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add a blocked site</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70C672AE-8FB2-4115-B98A-7B634F936D6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>toAdd</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>42ECE826-E338-4C36-9F21-FF56EE3AFED3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>$query = "{query}";

require 'focus-remove.php';</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5CCFD934-6E4E-4A63-AEDC-6367427958B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>focuslist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "{query}";

require 'focus-list.php';</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List blocked sites</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>157EDF86-9267-4FB9-A35D-3A60DE202EB1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{var:toRemove} removed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>56EF1C5C-7A95-403C-B7FB-C0A4FA34289D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>toRemove</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DD5AF4EC-5D23-4037-A8C2-4343A0B984A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>unfocus</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Run wild.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8463AC3-CE7D-42AF-A942-56448C425414</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>do shell script "php unfocus.php" with administrator privileges</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E3B4E93-3807-4372-868C-BD3F6BFCA6C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>The internet is your kingdom.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6ED92DD3-BEA5-4831-AC6D-B654ABF03493</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Work o'clock.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7A56CC32-0162-4A0E-8BAC-89E63B155B90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>focus</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Business Time.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A167A2E0-F748-49AA-8FFE-7D02985AF937</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>do shell script "php focus.php" with administrator privileges</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC1C6BFB-20B9-4BD2-8301-24A87FF42278</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>157EDF86-9267-4FB9-A35D-3A60DE202EB1</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>30D16E65-0B1C-4CC2-8350-A34C25523C71</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>42ECE826-E338-4C36-9F21-FF56EE3AFED3</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>56EF1C5C-7A95-403C-B7FB-C0A4FA34289D</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>5CCFD934-6E4E-4A63-AEDC-6367427958B0</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>6E3B4E93-3807-4372-868C-BD3F6BFCA6C6</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>6ED92DD3-BEA5-4831-AC6D-B654ABF03493</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>70C672AE-8FB2-4115-B98A-7B634F936D6C</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>7A56CC32-0162-4A0E-8BAC-89E63B155B90</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>A167A2E0-F748-49AA-8FFE-7D02985AF937</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>AC1C6BFB-20B9-4BD2-8301-24A87FF42278</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>C64B160D-70CD-414C-A32E-AD0D7C8926A0</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>DD5AF4EC-5D23-4037-A8C2-4343A0B984A1</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>E8463AC3-CE7D-42AF-A942-56448C425414</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://joe.codes</string>
</dict>
</plist>
